.ShowProductCardBox{
    max-width: 295px;
    height: 56vh;
    /* border: 2px solid black; */
    border-radius: 7px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    margin-bottom: 30px;
}
.ShowProductCardBox:hover{
    scale: 1.02;
    transition: 0.3s ease;
}
.ImageDiv{
    border-radius: 7px 7px 0px 0px ;  
}
.Image{
    border-radius: 7px 7px 0px 0px ;
}
.DetailDiv > *{
   padding: 2px 4px 3px 8px;
   text-align: center;
}
.FrontDisplayProductBox{
    width: 100%;
    height: 120vh;
}