.CartProductDiv{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
}
.productNameImage{
    width: 40%;
    display: flex;
    /* background-color: antiquewhite; */
    /* height: inherit; */
    gap: 10px;
}
.ImageDiv{
    /* width: ; */
    height: 100px;
    border-radius: 5px;
}
.ImageDiv img{
    /* width: 100%; */
    height: 100%;
    border-radius: 5px;
}
.NameDiv *{
    margin-bottom: 10px;
    /* background-color: blueviolet; */
    
}
.QuantityBox{
    display: flex;
    align-items: center;
    justify-content: space-around;
  /* background-color: rgb(184, 127, 127); */
     width: 100px;
    font-size: 20px;
     padding: 3px 0px 3px 0px;
  /* text-align: center; */
}
.QuantityBox *{
    border: 1px solid rgb(175, 174, 174);
    padding: 2px 7px ;
    border-radius: 5px;
}

.QuantityBox *:hover{
    scale: 1.09;
}

.PriceBox{
/* background-color: brown  ; */
width: 200px;
font-size: 20px;
padding: 3px 0px 3px 0px;
text-align: center;
  /* height: 200px; */
}