.ProductItemBox{
    width: 250px;/*250px*/
    /* height: 330px; */
    /* background-color: aquamarine; */
    background-color: rgb(176, 255, 229);
    margin: 15px;
    box-shadow: 2px 2px 8px 3px grey;
    border-radius: 5px;
}
.ImageDiv{
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.ImageDiv img{
    border-radius: 5px 5px 5px 5px ;
}
.DetailDiv{
  padding: 5px;
}
.DetailDiv h4{
    padding-top: 4px;
    padding-left: 4px;
  
}
.DetailDiv h3{
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 5px;
}
/* ------------------------------------------------------------------------------------------------------------- */
.ProductItemSingalPageBox{
    width: 100%;
    height: 560px;
    margin-top: 10px;
    background-color: rgb(221, 233, 233);
    display: flex;
}
.ImageBox{
    width: 50%;
}
.DetailBox{
    width: 50%;
}