.MenuBox{
    width: 24rem;
    height: 90vh;
    opacity: 1;
    background-color: white;
    border-radius: 13px;
    position: fixed;
    left: 1%;
    top: 50px;
     right: 90px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
     z-index: 101;
}
.CloseButton{
    margin: 20px;
    width: 17px;
    height: 16px;
    padding: 6px;
    border: 1px solid grey;
    border-radius: 50%;
    transition: transform 0.2s ease; 
}
.CloseButton:hover{
    transform: rotate(45deg)
}

.MenuDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.MenuDiv {
    
    margin: 10px 0px 3px 22px;
    font-weight: 900;
    font-size: 23px;
    cursor: pointer;
    border: 2px solid transparent;
    /* transform: scaleX(0) */
  }
  .MenuDiv h3{
          margin-top: 10px;
  }
  .MenuDiv h3:hover{
    text-decoration: underline;
    /* padding-bottom: 2px; */
    transform: scaleX(1)
  }

  /* Smooth transition for showing overlay */
  .overlay,
  .MenuDiv {
    opacity: 1;
    transition: opacity 0.3s ease;
  }