.LoginFormBox{
   width: 28rem;
   background-color: white;
   /* height: 80vh; */
   position: absolute;
   top: 90px;
   /* right: 50%; */
   /* left: 30%; */
   right: 30%;
   border-radius: 10px;
   opacity: 1;
   z-index: 101;
   padding-bottom: 30px;   
}
.CloseButton{
   margin: 6px 0px 0px 10px;
   width: 17px;
   height: 16px;
   padding: 6px;
   border: 1px solid grey;
   border-radius: 50%;
   transition: transform 0.2s ease; 
}
.CloseButton:hover{
   transform: rotate(45deg)
}
.ImageDiv{
   text-align: center;
   /* position: absolute; */
   width: 100%;
   /* background-color: brown; */
   height: 25%;
}
.Image{
   width: 10rem;
   /* padding: 10px 0px 10px 30%; */
   position: relative;
   top: 20px;
   right: 1rem;
   /* background-color: aquamarine; */
   border-radius: 5px;
}
.LoginWordBox{
   /* background-color: aqua; */
   padding:7px 0px 10px 30px ;
}
.LoginWordBox *{
  margin-top: 10px;
}
.LoginWordBox :nth-child(1){
  font-size: 29px;
}
.LoginWordBox :nth-child(2){
   font-size: 20px
}
.InputDiv{
  margin-top: 20px;
}
.EmailBox{
  width: 23rem;
  padding: 5px 15px 5px  7%;
  height: 30px;
  border-radius: 5px;
}
.PasswordBox{
   width: 23rem;
   padding: 5px 15px 5px 7%;
   height: 30px;
  border-radius: 5px;
  margin-top: 20px;
}
.InputDiv input{
   width: 100%;
   height: 100%;
   border-radius: 5px;
   border: 2px solid grey;
   padding-left: 7px;
   font-size: 18px;
}
.InputDiv input:active{
  outline: none;
  text-decoration: none;
}
.InputDiv input:focus{
   outline: none;
   text-decoration: none;
}
.InputDiv input::placeholder{
  color: black;
  opacity: 1.1;
  z-index: 101;
}
.InputDiv button{
   width: 24rem;
   margin: 25px 15px 5px  7%;
   height: 40px;
   font-size: 22px;
   color: white;
   background-color: rgb(52, 141, 52);
   border-radius: 10px;
}
.SignInButton{
 text-align: center;
 margin-top: 10px;
 font-size: 25px;
 text-decoration: underline rgb(63, 63, 218);
 color: rgb(63, 63, 218);
}
.err{
   padding: 3px 0px 0px  4px;
   color: red;
   display: none;
}